In [1]:
#operators
#arithmatic operators
a = 11
b = 5
result_addition = a + b
print("Addition:",result_addition)

#substarction operator
result_substraction = a - b
print("Substraction:",result_substraction)

#Multiplication
result_multiplication = a * b
print("Multiplication:",result_multiplication)

#Division
result_division = a / b
print("Division:", result_division)

#floor division 
result_floor_division = a // b
print("floor division:",result_floor_division)

#modulus (remainder)
result_modulus = a % b 
print("modulus",result_modulus)

#Exponentiation
result_exponentiation = a ** b
print("exponentiation:", result_exponentiation)

Addition: 16
Substraction: 6
Multiplication: 55
Division: 2.2
floor division: 2
modulus 1
exponentiation: 161051

In [4]:
#Assignment operators 
x = 10
print("x:",x)
x += 5
print("Updated x:",x)

x: 10
Updated x: 15

In [ ]:
# a>b a<b a==b a!=b a >= b(grater than equal)
# a<= b(less than)

In [5]:
#example of 'and' logical operator
x = 5
y = 10
z = 15
result_and = (x < y) and (y < z)
print("Result of 'and' operator:", result_and)

#'or' operator 
result_or = (x> y) or (y < z)
print("Result of 'or' operator:",result_or)

#'not' operator
result_not = not (y > z)
print("Result of 'not'operator:", result_not)

Result of 'and' operator: True
Result of 'or' operator: True
Result of 'not'operator: True

In [10]:
#example of if-else
age  = 17
if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are a minor

In [13]:
#elif   
score = 70
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 75:
    print("C")
elif score >= 70:
    print("D")

D

In [16]:
num = 26

if num > 10 and num % 2 == 0:
    print("Number is grater than 10 and even")
elif num > 10 and num % 2 != 0:
    print("Number is grater than 10 but odd")
else:
    print("Number is not greater than 10")

Number is grater than 10 and even

In [17]:
#While and for Loops
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [18]:
user_input = ' '
while user_input != 'quit':
    user_input = input("Enter 'quit' to exit:")
print("You exited the loop")

In [2]:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [3]:
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [6]:
for num in range(1, 6):
    print(num,end=" ")

1 2 3 4 5

In [7]:
#Nested loops example
for i in range(3):
    for j in range(2):
        print(f"({i},{j})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)

In [10]:
#example specifying a step
for i in range(0,11,2):
    print(i,end=" ")

0 2 4 6 8 10

In [12]:
#write a program to calculate sum of all numbers from 1 to 100
iNum = 0
for i in range(1, 101):
    iNum += i
print("The sum of allnumbers from 1 to 100 is",iNum)

The sum of allnumbers from 1 to 100 is 5050

In [14]:
#write a program to print the below pattern

#  1 
#  1 2
#  1 2 3
#  1 2 3 4
#  1 2 3 4 5

rows = 5
for i in range(1, rows+1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:

for i in range(5):
    for j in range(5):
        print("#", end=" ")
    print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [24]:
#functions
def add(a,b):
    return a + b
result = add(3,5)
print("Result of addition:",result)

REsult of addition: 8

In [25]:
def arithmatic_operations(a,b):
    return a+b, a-b, a*b, a/b
addition, subtraction, multiplication, division = arithmatic_operations(10, 5)
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [26]:
#Data types
my_list = [1,2,3,4,5]   #list of integers
names = ["Alice","bob","charlie"]  #list of string
mixed_list = [1,"apple", True,[2,3,4]] #mixed list
empty_list = []

In [32]:
my_list = [10,20,30,40,50]
print(my_list[0])
print(my_list[2])

my_list[1] = 25
print(my_list)

10
30
[10, 25, 30, 40, 50]

In [33]:
#sort
my_list = [5,3,8,2,1]
my_list.sort()
print(my_list)

[1, 2, 3, 5, 8]

In [34]:
#reverse
my_list = [5,6,3,2]
my_list.reverse()
print(my_list)

[2, 3, 6, 5]

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('Housing.csv')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [7]:
total_price = data['price'].sum() 
total_price

2597867440

In [8]:
total_bedroom = data['bedrooms'].sum()
total_bedroom

1616

In [9]:
Total_price =  data[data['bedrooms'] > 3]['price'].sum()
Total_price  #more than 3bedrooms

612108000

In [10]:

#avg price of bedroom
average = data.groupby('bedrooms')['price'].mean()   
average

bedrooms
1    2.712500e+06
2    3.632022e+06
3    4.954598e+06
4    5.729758e+06
5    5.819800e+06
6    4.791500e+06
Name: price, dtype: float64

In [11]:
#number of properties with air conditioning
air_conditioning = data[data['airconditioning'] == 'yes'].shape[0]
air_conditioning

172

In [12]:
#max_area_furnished 
furnished =  data[data['furnishingstatus'] == 'furnished']['area'].max()
furnished

13200

In [13]:
#Count the number of properties with guest room and parking
count = data[(data['guestroom'] == 'yes') & (data['parking'] > 0)].shape[0]
count

50

In [14]:
import matplotlib as plt
import numpy as np

In [15]:
df = pd.read_csv(r'./googleplaystore.csv')
df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [18]:


df.Installs=df.Installs.apply(lambda x: x.strip('+'))
df.Installs=df.Installs.apply(lambda x: x.replace(',',''))
df.Installs=df.Installs.replace('free',np.nan)
df.Installs.value_counts()

Installs
1000000       1579
10000000      1252
100000        1169
10000         1054
1000           907
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               15
Free             1
Name: count, dtype: int64

In [22]:
df.groupby('Content Rating').mean()['Content Rating'].plot.bar()
plt.show()

TypeError: agg function failed [how->mean,dtype->object]