***Welcome to Jupyter Lab***

In [4]:
a = 32

In [7]:
b = 34

In [8]:
print("This is my book")

This is my book

In [15]:
x = 35  (variable assign)
y = "John"
print(x)
print(y)

35
John

In [21]:
x = 35         #type() fun is use to get type like int,float etc
y = "amrita"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [19]:
x = 4
x = "sally"  #why becoz it give reassign value of x and it is sally(py is dynamicaltyped.
print(x)

sally

In [25]:
a = 4    #case sensitive - not overwrite on a
A = "sally"
print(a)
print(A)

4
sally

In [27]:
x,y,z = "Orange", "Banana", "Cherry"
print(x)   #value assign to multiple variable in one line
print(y)
print(z)

Orange
Banana
Cherry

In [29]:
x = y = z = "Orange"
print(x)   #one value to multiple variable
print(y)
print(z)

Orange
Orange
Orange

In [32]:
fruits = ["apple", "banana" , "cherry"]
x, y, z  = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [36]:
x = "python"   #multiple variable seprated by comma
y = "is"       # + oprator use getinh that op
z = "awesome"
print(x, y, z)

python is awesome

In [37]:
x = 5 # (not applicable for string and inst add better way use ,)
y = 10
print(x + y)

15

In [41]:
x = "awesome"
def myfunc():
    print("Python is " + x)
myfunc()

Python is awesome

In [43]:
x = "Hello world"  #data type
y = 20
z = 20.5
a = 1j
b = ["apple", "banana", "cherry"]
c = ("apple", "banana", "cherry")
d = range(6)
e = {"name" : "john","age" : 36}
f = {"apple" , "banana", "cherry"}
g = True
f = None
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'NoneType'>
<class 'bool'>
<class 'NoneType'>

In [49]:
import random   #import random module to display random no
print(random.randrange(1, 10))

4

In [50]:
print("hello")   #string it may single or double quotation
print('hello')

hello
hello

In [54]:
a = """amruta    
      mali"""
print(a)    #also use 3double quotes or ''' ab'''

amruta
      mali

In [55]:
#Get the character at position 1
a = "Hello, World!"
print(a[1])

e

In [56]:
#Looping Through a String
for x in "banana":
    print(x)

b
a
n
a
n
a

In [65]:
#string length len()
a = "Hello, world!"
print(len(a))

13

In [66]:
#slicing string
b = "Hello, World!"
print(b[2:5])

llo

In [68]:
b = "Hello,world!"  # start slice
print(b[:5])

Hello

In [69]:
b = "Hello,world!"
print(b[2:])

llo,world!

In [70]:
#uppercase upper() string
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [72]:
#string lowercase lower()
A = "HELLO"
print(A.lower())

hello

In [74]:
a = "Hello, world!"
print(a.replace("H", "J"))

Jello, world!